<!-- <table>
    <thead>
      <tr>
        <th>Id Товара</th>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена одного товара</th>
        <th>Сумма</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList | async">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity * product.price }}</td>
        <td>
          <button (click)="addProduct(product)">Добавить</button>
          <button (click)="removeProduct(product)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
  
<form (ngSubmit)="addNewProduct()" #productForm="ngForm">
  <label for="newProductId">ID товара:</label>
  <input type="number" id="newProductId" name="newProductId" [(ngModel)]="newProduct.id" required>

  <label for="newProductName">Название товара:</label>
  <input type="text" id="newProductName" name="newProductName" [(ngModel)]="newProduct.name" required>

  <label for="newProductQuantity">Количество:</label>
  <input type="number" id="newProductQuantity" name="newProductQuantity" [(ngModel)]="newProduct.quantity" required>

  <label for="newProductPrice">Цена одного товара:</label>
  <input type="number" id="newProductPrice" name="newProductPrice" [(ngModel)]="newProduct.price" required>

  <button type="submit">Добавить товар</button>
</form> -->
<app-list [productList]="productList"></app-list>
<app-form-add-new-product [newProduct]="newProduct" (AddNewProduct)="AddNewProduct($event)"></app-form-add-new-product>

