<div class="dialog-container">
  <div class="dialog-overlay"></div>
  <div class="dialog-content">
    <!-- Форма для ввода банковской карты -->
    <form [formGroup]="paymentForm" (ngSubmit)="submitForm()" class="payment-form">
      <!-- Номер карты -->
      <mat-form-field appearance="fill" class="card-field">
        <mat-label class="label-info">Card Number</mat-label>
        <input matInput formControlName="cardNumber" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" inputmode="numeric" oninput="this.value = 
        !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null" required>
      </mat-form-field>
      <!-- Дата выпуска -->
      <mat-form-field appearance="fill" class="card-field">
        <mat-label class="label-info">Expiration Date</mat-label>
        <input matInput formControlName="expirationDate" placeholder="MM/YY" maxlength="5" inputmode="numeric">
      </mat-form-field>
      <!-- CVC код -->
      <mat-form-field appearance="fill" class="card-field">
        <mat-label class="label-info">CVC</mat-label>
        <input matInput formControlName="cvc" placeholder="CVC" maxlength="4" inputmode="numeric" oninput="this.value = 
        !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null" required>
      </mat-form-field>
      <!-- Вывод total_amount -->
      <div class="total-amount">
        Total Amount: {{ total_amount | myCurrency }}
      </div>
      <!-- Кнопка подтверждения -->
      <button type="button" class="custom-button" (click)="makeOrder()">Confirm Payment</button>
    </form>
  </div>
</div>


  
