table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(87, 62, 197, 0.7);
    border: 1px solid white;
  
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      color: white; 
      background: rgba(255, 255, 255, 0.11);
    }
  
    th {
      background-color: #573ec5;
    }
  
    tr:hover {
      background-color: #03030333;
    }
  
    button {
      padding: 4px 8px;
      background-color: #007bff;
      color: #fff; 
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #b300b39c;
      }
    }
  }

  button {
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b300b39c;
    }
  }

  tr {
    width: 100%;
    border-collapse: collapse;
  }


  .form-row {
    min-height: 80px;
    display: flex; /* Используем flexbox для расположения элементов в одну строку */
    flex-direction: row;
    justify-content: flex-start; /* Распределяем пространство между элементами */
    align-items: center;
    background: #b300b32c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-group {
    display: flex; /* Используем flexbox для расположения элементов в одну строку */
    flex-direction: row;
    justify-content: flex-start; /* Распределяем пространство между элементами */
    align-items: center;
  }

  .form-group label {
    color: white;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-right: 5px;
  }