    .container {
        background-color: #ffffff00; 
        border-radius: 10px; 
        padding: 15px;
    }

    .card {
        background-color: #1a1e21; 
        color: #31d2f2;
        border-radius: 10px; 
        padding: 15px;
        font-weight: 600;
    }

    .card-chart {
        padding: 20px;
        border-radius: 15px;
    }

    .card-chart .chart {
        background: #1a1e21;
        border-radius: 15px;
    }

    .card-text {
        font-size: large;
        font-family: sans-serif;
        color: #00d5ff;
    }

    #chart1 {
    pointer-events: none; 
    border-radius: 15px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }

  #chart2 {
    pointer-events: none; 
    border-radius: 15px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }

// apx-chart  {
//     background: #1a1e21;
// }

// .apexcharts-canvas {
//     background: #1a1e21;
// }