<form (ngSubmit)="onAddNewProduct()" #productForm="ngForm">
    <label for="newProductId">ID товара:</label>
    <input type="number" id="newProductId" name="newProductId" [(ngModel)]="newProduct.id" required>
  
    <label for="newProductName">Название товара:</label>
    <input type="text" id="newProductName" name="newProductName" [(ngModel)]="newProduct.name" required>
  
    <label for="newProductQuantity">Количество:</label>
    <input type="number" id="newProductQuantity" name="newProductQuantity" [(ngModel)]="newProduct.quantity" required>
  
    <label for="newProductPrice">Цена одного товара:</label>
    <input type="number" id="newProductPrice" name="newProductPrice" [(ngModel)]="newProduct.price" required>
  
    <button type="submit">Добавить товар</button>
  </form>