<div class="container">
  <div *ngIf="orders.length<=0" class="no-orders"><h2>No orders yet</h2></div>
    <div *ngFor="let order of orders" class="accordion mb-3">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" (click)="toggleCollapse(order.id)">
            Order #{{ order.id }} ({{ order.order_date }})
          </button>
        </h2>
        <div [id]="'collapseOrder' + order.id" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div *ngFor="let item of order.cart_products">
              <div class="row align-items-center card-product">
                <div class="col-md-3">
                  <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="img-fluid">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">{{ item.product.name }}</h5>
                  <p class="card-text">{{ item.product.description }}</p>
                  <p class="card-text">Price: {{ item.product.price | myCurrency }}</p>
                  <p class="card-text">Quantity: {{ item.quantity }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              Total: {{ order.total_amount | myCurrency }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
