
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <div class="cats">
            <h2>Product Types</h2>
            <ul class="product-type-list">
            <li *ngFor="let productType of productTypes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="isProductTypeSelected[productType.id]" (change)="onAnyChange()">
                    <label class="form-check-label">{{ productType.name }}</label>
                </div>
            </li>
            </ul>
            <h2>Categories</h2>
            <ul class="category-list">
            <li *ngFor="let category of categories">
                {{ category.category }}
                <ul #subcategoryList *ngIf="category.subcategories">
                <li *ngFor="let subcategoryName of category.subcategories | keyvalue">
                    {{ subcategoryName.value.name }}
                    <ul>
                    <li *ngFor="let value of subcategoryName.value.values">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedValues[getCombinedValueId(category.category, subcategoryName.key, value.id)]" (change)="onCheckboxChange($event)">
                            <label class="form-check-label">{{ value.name }}</label>
                        </div>
                    </li>
                    </ul>
                </li>
                </ul>
            </li>
            </ul>
        </div>
      </div>
      
      <div class="col-md-9 main-content">
        <div class="prod">
          <div class="row">
            <div *ngIf="products.length === 0" class="col-md-12 no-products">
              <p>No products</p>
            </div>
            <div class="col-md-4 product-card" *ngFor="let product of products">
              <div class="row">
                <div class="col-md-6 div-product-image"> <!-- Первый столбец с изображением -->
                  <img mat-card-image class="product-image" [src]="product.imageUrl" alt="{{ product.name }}">
                </div>
                <div class="product-info col-md-6"> <!-- Второй столбец с текстовыми полями -->
                  <mat-card-header>
                    <mat-card-title class="card-title">{{ product.name }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>Price: {{ product.price | myCurrency}}</p>
                    <button class="btn add-to-cart" (click)="openProductInfoDialog(product)">Add To Cart</button> 
                  </mat-card-content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
  