/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.gradient-custom{
    position: relative;
    background: #6a11cb;
    background: -webkit-linear-gradient(
        to right,
        rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );
    background: linear-gradient(
        to right,
        rgb(134, 36, 240),
        rgb(31, 94, 204)
    );

    ::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: #6a11cb;
        background: -webkit-linear-gradient(
            to right,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1)
        );
        background: linear-gradient(
            to right,
            rgb(134, 36, 240),
            rgb(31, 94, 204)
        );
    }
}

.text-info:hover {
    background: rgba(118, 150, 155, 0.18);
    border-radius: 5px;
}

.text-info.active {
    background: rgba(100, 149, 237, 0.35);
    transform: scale(0.95);
    border-radius: 5px;
}

.active {
    background: rgba(59, 70, 138, 0.35);
}

.mat-mdc-snack-bar-container {
    position: fixed;
    top: 0;
    z-index: 1000; /* Убедитесь, что значение z-index достаточно высокое */
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  
    &.app-notification-error {
      --mdc-snackbar-container-color: #2f53f2;
    }
  
    &.app-notification-success {
      --mdc-snackbar-container-color: #43a446;
    }
  }
